body {
    background-color: rgb(227, 97, 82);
    padding-left: 0;
}
nav,li,ul,a{
    padding-left: 0;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    display: inline-block;
}
a{
    color: white;
    background-color: rgb(110, 39, 110);
    border-radius: 20px;
    height: 25px;
    width: 240px;
    margin: 7px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 5px 5px 5px rgb(2, 2, 2);
}
li a:hover {
    color: #000000;
    background-color: #fff;     
}
li a:active {
    transform: scale(0.5);
}